:root {
    --color-yellow: #FBF138;
}
@font-face {
    font-family: 'Montserrat';
    src:url(../font/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat';
    src:url(../font/Montserrat-Regular.ttf);
    font-weight: 400;
}
.body {
    position: relative;
    font-family: 'Montserrat';
    font-weight: 400;
    margin: 0 auto;
    width: 100%;   
}
.contents {
  width: 100%;
  max-width: 1183px;
  margin: 0 auto;
  padding: 0 20px;
  border: 1px solid #eee;
}
.btn {
  display: block;
  width: auto;
  background-color: var(--color-yellow);
  padding: 20px 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.btn:hover {
  color: #FBF138;
  background-color: #2B3541;
}

/* ============= MENU ============== */

.menu {
    width: 100%;
}
.menu .contents {
  margin-top: 52px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.menu-left {
    display: flex;
    justify-content: flex-start;
    gap: 92px;
}
.logo {
    width: 97px;
    height: 30px;
}
.logo-img {
    background-image: url(../svg/logo.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.nav {
    display: flex;
    list-style-type: none;
    gap: 54px;
}

.menu-right {
  width: 100px;
}
.social {
    display: flex;
    gap: 30px;
}
.insta,
.facebook {
    width: 30px;
    height: 30px;
}
.insta-img {
    width: 100%;
    height: 100%;
}
.facebook-img {
    width: 100%;
    height: 100%;
}

/* ============= HEADER ============== */

.header {
     
    width: 100%;
    z-index: 0;
}

.header .contents {
  position: relative; 
  display: flex;
  justify-content: space-between;
}

.header-content {
  position: relative;
  width: 60%;
  border: 1px solid #2B3541;
  padding: 228px 0;
}
/* .header-content a:hover {
  color: #FBF138;
  background-color: #2B3541;
} */
/* .header .contents::after {
  content: '';
  position: absolute;
  border: 1px solid green;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
} */
.header-h1 h1{
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
}
.header-info {
    margin-top: 40px;
    font-size: 40px;
}
.header-info span:nth-child(2) {
  margin-left: 20px;
}
.header-description {
  max-width: 300px;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 105px;
}
.header-button {
  max-width: 300px;  
  margin-top: 40px;
  margin-left: 105px;
}


.header-arrow {
  position: absolute;
  background-image: url(../svg/Arrow.svg);
  background-repeat: no-repeat;
  left: 0;
  bottom: 0;
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.header-background {
  width: 40%;
  height: auto;
  border: 1px solid #2B3541;
  /* background-image: url(../img/girl.png);
  background-repeat: no-repeat;
  background-size: contain; */
  /* z-index: -1; */
}
.header-background .gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 115.23%);
  opacity: 0.2;
}

/* ============= EVENT ============== */
.event {
    width: 100%;
}

.event .contents {

}
.event-header h2 {
    font-weight: 700;
    font-size: 40px;
}
.event-body {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.one, 
.two, 
.three {
  position: relative;
  width: calc((100% - 20px * 2) / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    height: 600px;
    z-index: 0;
}
.one::before, 
.two::before, 
.three::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
  z-index: -1;
  opacity: 0.3;
}
.one:hover::after, 
.two:hover::after, 
.three:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
  z-index: -1;
  opacity: 0.6;
}
.one .description,
.two .description,
.three .description {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.one {
    background-image: url(../img/maraphon.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.two {
    background-image: url(../img/vebinar.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.three{
    background-image: url(../img/maraphon.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.btn.zapis {
  background-color: #2B3541;
  color: #FBF138;
  margin-top: 30px;
  width: 221px;
  display: none;
}
.one:hover .zapis, 
.two:hover .zapis, 
.three:hover .zapis{
  display: block;
}

/* после наложения градиента проблемы с машстабированием */

/* .one-img .gradient,
.two-img .gradient,
.three-img .gradient {
    height: 600px;
    width: 367px;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.3;
    z-index: 0;
}
.one-img .gradient:hover,
.two-img .gradient:hover,
.three-img .gradient:hover {
    background: linear-gradient(180deg, #e2d816 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.6;
    transition: 0.2s;
}
.zapis a {
    visibility:hidden;
} */
/* 
Появление окна записи при наведении мышки, оказалось слишком сложным

.gradient:hover .zapis a {
    display: block;
} */

.data {
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
    opacity: 0.6;
}
.name {
  margin-top: 20px;
    font-weight: 700;
    font-size: 28px;
}
.hashteg {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  flex-grow: 1;
}
.hash-btn {
  display: flex;
  justify-content: flex-end;
}
.hashteg .plus {
  display: none;
}












.rasp {
    margin-top: 160px;
    max-width: 1143px;
}
.rasp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h2-header h2 {
    font-weight: 700;
    font-size: 40px;
}
.data-header {
    font-weight: 700;
    font-size: 28px;
}

/* не создаются блоки различной высоты как в макете */

.rasp-body {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.child {
    border: 1px solid #2B3541;
    opacity: 0.6;
    max-width: 367px;
    height: 374px;
}